<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>App Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:22</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:wdMethods.TC001_CreateLead@56235b8e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>868</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeTest()[pri:0, instance:wdMethods.TC001_CreateLead@56235b8e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/10/21 00:04:23</td>   <td>868</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead5.setData()[pri:0, instance:wdMethods.TC001_CreateLead5@3632be31]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/10/21 00:04:23</td>   <td>868</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead4.setData()[pri:0, instance:wdMethods.TC001_CreateLead4@5abca1e0]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/10/21 00:04:23</td>   <td>869</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead3.setData()[pri:0, instance:wdMethods.TC001_CreateLead3@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/21 00:04:23</td>   <td>870</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead2.setData()[pri:0, instance:wdMethods.TC001_CreateLead2@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 00:04:23</td>   <td>870</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:wdMethods.TC001_CreateLead@56235b8e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>885</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC001_CreateLead@56235b8e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test_14.10-1@1380556664</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>888</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC001_CreateLead3@2286778]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test_14.10-3@1187546780</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>888</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC001_CreateLead2@4e9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test_14.10-2@1901139184</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>889</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC001_CreateLead5@3632be31]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test_14.10-5@586390816</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>889</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods.TC001_CreateLead4@5abca1e0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test_14.10-4@1603864969</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC001_CreateLead2@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test_14.10-2@1901139184</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC001_CreateLead5@3632be31]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test_14.10-5@586390816</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC001_CreateLead@56235b8e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test_14.10-1@1380556664</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC001_CreateLead3@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test_14.10-3@1187546780</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 00:04:23</td>   <td>915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods.TC001_CreateLead4@5abca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test_14.10-4@1603864969</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/10/21 00:04:23</td>   <td>930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead4.createLead()[pri:0, instance:wdMethods.TC001_CreateLead4@5abca1e0]">createLead</td> 
  <td>TestNG-test=Test_14.10-4@1603864969</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 00:04:23</td>   <td>938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead()[pri:0, instance:wdMethods.TC001_CreateLead@56235b8e]">createLead</td> 
  <td>TestNG-test=Test_14.10-1@1380556664</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/10/21 00:04:23</td>   <td>948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead5.createLead()[pri:0, instance:wdMethods.TC001_CreateLead5@3632be31]">createLead</td> 
  <td>TestNG-test=Test_14.10-5@586390816</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/21 00:04:23</td>   <td>946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead2.createLead()[pri:0, instance:wdMethods.TC001_CreateLead2@4e9ba398]">createLead</td> 
  <td>TestNG-test=Test_14.10-2@1901139184</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/10/21 00:04:23</td>   <td>941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead3.createLead()[pri:0, instance:wdMethods.TC001_CreateLead3@2286778]">createLead</td> 
  <td>TestNG-test=Test_14.10-3@1187546780</td>   <td></td> </tr>
</table>
