<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:38</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>423</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeTest()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/10/28 08:21:39</td>   <td>423</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead2.setData()[pri:0, instance:wdMethods1.TC001_CreateLead2@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/10/28 08:21:39</td>   <td>423</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead3.setData()[pri:0, instance:wdMethods1.TC001_CreateLead3@6d7b4f4c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/10/28 08:21:39</td>   <td>423</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead4.setData()[pri:0, instance:wdMethods1.TC001_CreateLead4@527740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/28 08:21:39</td>   <td>424</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead5.setData()[pri:0, instance:wdMethods1.TC001_CreateLead5@13a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/28 08:21:39</td>   <td>424</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>434</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1087833201</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods1.TC001_CreateLead5@13a5fe33]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@1055075330</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods1.TC001_CreateLead3@6d7b4f4c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-4@1901139184</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods1.TC001_CreateLead4@527740a2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-3@1380556664</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>436</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:wdMethods1.TC001_CreateLead2@4e9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-5@1413744808</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods1.TC001_CreateLead5@13a5fe33]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@1055075330</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1087833201</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods1.TC001_CreateLead2@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@1413744808</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods1.TC001_CreateLead4@527740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@1380556664</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:21:39</td>   <td>449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:wdMethods1.TC001_CreateLead3@6d7b4f4c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-4@1901139184</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/10/28 08:21:39</td>   <td>457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead4.createLead()[pri:0, instance:wdMethods1.TC001_CreateLead4@527740a2]">createLead</td> 
  <td>TestNG-test=Test-3@1380556664</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/28 08:21:39</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">createLead</td> 
  <td>TestNG-test=Test-1@1087833201</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/10/28 08:21:39</td>   <td>457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead3.createLead()[pri:0, instance:wdMethods1.TC001_CreateLead3@6d7b4f4c]">createLead</td> 
  <td>TestNG-test=Test-4@1901139184</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/28 08:21:39</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead5.createLead()[pri:0, instance:wdMethods1.TC001_CreateLead5@13a5fe33]">createLead</td> 
  <td>TestNG-test=Test-2@1055075330</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/10/28 08:21:39</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead2.createLead()[pri:0, instance:wdMethods1.TC001_CreateLead2@4e9ba398]">createLead</td> 
  <td>TestNG-test=Test-5@1413744808</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods1.TC001_CreateLead3@6d7b4f4c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-4@1901139184</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32637</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:wdMethods1.TC001_CreateLead3@6d7b4f4c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-4@1901139184</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1087833201</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32647</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1087833201</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods1.TC001_CreateLead2@4e9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@1413744808</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32651</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:wdMethods1.TC001_CreateLead2@4e9ba398]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-5@1413744808</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods1.TC001_CreateLead5@13a5fe33]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@1055075330</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32658</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:wdMethods1.TC001_CreateLead5@13a5fe33]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@1055075330</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:wdMethods1.TC001_CreateLead4@527740a2]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-3@1380556664</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32714</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:wdMethods1.TC001_CreateLead4@527740a2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-3@1380556664</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32715</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/28 08:22:11</td>   <td>32792</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:wdMethods1.TC001_CreateLead@2286778]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
</table>
